*{
    margin: 0px;
    padding: 0px;
}

.heading1{
    text-align: center;
    font-family: 10px;
    color: aliceblue;
    background-color: blue;
    margin: 20px;
     padding: 10px;
     border-radius: 8px;

}

.menu1{
    align-items: right;
    color: aliceblue;
    background-color: gainsboro;
    margin: 20px;
     padding: 10px;
     border-radius: 8px;
     text-align: right;
     text-emphasis: none;
     text-decoration: aliceblue;
     

}

.but1{
    text-align: center;
    color: white;
    background-color: red;
    margin: 20px;
    padding: 8px;
    border-radius: 8px;
    border-color: none;
}
.but1:hover{
    background-color: blue;
    zoom: 1;
    pointer-events: visible;

}
.buttons{
    text-align: center;
    margin-top: 400px;

}